# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.env.development
.env.staging
.env.production
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# SQLite
*.sqlite3

# Docker
.docker/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# Secrets
firebase-service-account.json
